* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f5f5f5;
  color: #364f6b;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, button {
  margin: 20px;
}

button {
  padding: 5px;
  background-color: #364f6b;
  color: #f5f5f5;
  border: none;
  border-radius: 2px;
}

button:hover {
  cursor: pointer;
  background-color: #f5f5f5;
  color: #364f6b;
  border: 1px solid #364f6b;
}
